/target
/project/target
/.idea/libraries
/.idea/modules
/.idea/misc.xml
/.idea/modules.xml
/.idea/runConfigurations.xml
/.idea/sbt.xml
/.idea/scala_compiler.xml
/.idea/scala_settings.xml
/.idea/uiDesigner.xml
/.bsp/sbt.json
/project/project/target
